* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Smooch+Sans:wght@100..900&display=swap');

:root {
  --amarelo-espanha: #eda501;
  --amarelo-espanha-claro: #fed76a;
  --marrom-espanha: #733e01;
  --cinza-espanha: #d6d8dd;
  --vermelho-espanha: #ab1d1d;
  --vermelho-espanha-claro: #f7b1a1;
  --vermelho-espanha-teste: #bd3c2e;
}

.titulos {
  font-family: "Smooch Sans", serif;
  font-size: 2.6em;
  font-weight: 800;
  font-style: normal;
}

h3 {
  font-family: "Smooch Sans", serif;
  font-size: 22px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10% 20px 10%;
  background-color: var(--amarelo-espanha);
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

header div img {
  width: 75px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  list-style: none;
  gap: 50px;
  font-family: "smooch sans", serif;
  font-weight: 700;
  font-size: 22px;
}

.menu a {
  text-decoration: none;
  color: black;
}

.sobre {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 6% 10%;
  gap: 20px;
}

.texto {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  order: 1;
}

.texto h2 {
  font-size: 2em;
  font-weight: 800;
  font-family: "smooch sans", serif;
}

.texto p {
  font-size: 1em;
  font-family: "open sans", sans-serif;
}

.sobre-img img {
  border-radius: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}

.destinos {
  padding: 35px;
  background-color: var(--amarelo-espanha-claro);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destinos img {
  max-width: 95%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 7px;
}

.destinos h2 {
  font-size: 3.5em;
  font-weight: 800;
  font-family: "smooch sans", serif;
  padding-top: 20px;
}

.cards-destinos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 0 60px 0;
}

.destinos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.destino {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.destino img {
  width: 90%;
  object-fit: cover;
  border-radius: 8px;
}

.destino p {
  padding: 0 10px;
}

.botao-visita {
  padding: 8px 14px;
  background-color: var(--vermelho-espanha);
  color: white;
  border: none;
  border-radius: 8px;
  font-family: "open sans", sans-serif;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.formulario div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.formulario button {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--vermelho-espanha-claro);
}

@media screen and (max-width: 768px) {

  header {
    flex-direction: column;
    gap: 10px;
  }

  .menu {
    flex-direction: row;
    gap: 10px;
  }

  .sobre {
    padding-top: 70px;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .texto {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .sobre-img img {
    width: 100%;
  }

  .destinos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  .destino {
    width: 100%;
    padding: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  header {
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
  }

  .sobre {
    padding-top: 70px;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .texto {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .sobre-img img {
    width: 100%;
  }

  .destinos-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    flex-wrap: wrap;
    width: 100%;
  }

  .destino {
    width: 50%;
    padding: 20px;
  }
}